@*@model HashGag.Models.ViewModels.NavigationBar*@
<!DOCTYPE html>
<html>
@Html.Partial("_Header")
    <body>

        

        @Html.Partial("_Navigation")
        <div style="clear: both; height: 37px;"></div>
        <div class="container body-content">
            
            @RenderBody()
            @Html.Partial("_Footer")
        </div>
    </body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>
