@model HashGag.Models.Tweet

<div id="tweetcard-profileimage">
    <div id="tweetcard-ImagePanel">
         <img width="84" height="84" src="@Html.DisplayFor(model => model.TwitterUser.ProfileImageURL)"/>
    </div>
   
    <div id="tweetcard-screenname">
        @Html.DisplayFor(model => model.TwitterUser.ScreenName)
    </div>
            
    <div id="tweetcard-InfoPanel">
        @Html.DisplayFor(model => model.Text)
    </div>
    
    <div id ="tweet-card-ScorePanel">
         RT @Html.DisplayFor(model => model.RetweetCount)
    </div>
              
    
        
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HashgagTweetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
