@model HashGag.Models.Tweet

<div id="tweetcard-container">
    <div id="tweetcard-profileimage">
         <img src="@Html.DisplayFor(model => model.TwitterUser.ProfileImageURL)"/>
    </div>
   
    <div id="tweetcard-screenname">
        @Html.DisplayFor(model => model.TwitterUser.ScreenName)
    </div>
            
    <div id="tweetcard-tweet">
        @Html.DisplayFor(model => model.Text)
    </div>
    
    <div id ="tweetcard-retweets">
         @Html.DisplayFor(model => model.RetweetCount)
    </div>
              
    
        
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HashgagTweetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
