@model HashGag.Models.ViewModels.CompetitionViewModel

@{
    ViewBag.Title = "Competition";
}

<div class="hubPanel container">
    <div class="container">
        <div class="questionHeader col-xs-1 col-sm-6 col-sm-offset-3">
            <h1>#@Model.Question.Text</h1>
            <h4>@Model.Question.EndDate</h4>
        </div>

    </div>
    @*<script>$.ajax({
    type: 'POST',
    url: '@Url.Content("Controller/Complitition/LoadColumn/")',
    data: {
    id: Model.ColumnOneQuestions
    },
    success: function (data) {
        alert("hshdsdhfhdf");
    $('.temp').innerHTML = data;
    }
});</script>*@
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            alert("Hi");
            var postData = @Model.Question.QuestionID + ",topRank";

            jQuery.ajax({
                type: 'POST',
                url: '@Url.Content("1")',
                data: {
                    id: postData
                },
                success: function(data) {
                    alert("hshdsdhfhdf");
                    $('.temp').innerHTML = data;
                }
            });
        });
        


    </script>

    <div class="hubCol temp col-sm-4 col-xs-1">
        <h2>Top Tweets</h2>
        @*@Html.Partial("CompQuestionListView", Model.ColumnOneQuestions)*@
    </div>
    <div class="hubCol col-sm-4 col-xs-1">
        <h2>My Ranking</h2>
        @Html.Partial("CompQuestionListView", Model.ColumnTwoQuestions)
    </div>
    <div class="hubCol col-sm-4 col-xs-1">
        <h2>Most Recent </h2>
        @Html.Partial("CompQuestionListView", Model.ColumnThreeQuestions)
    </div>
</div>